* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.hesaplama {
    box-sizing: border-box;
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin: auto;
    margin-top: 250px;
}

.hesaplama, input {
    padding: 10px;
    display: flex;
}
h1 {
    text-align: center;
}
input {
    border:2px solid #5D6D7E;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}
input:focus {
    background-color: rgb(205, 236, 247);
}
label {
    
    text-align: center;
}
button {
    width: 100%;
}
button:hover {
   background-color:  #dfe1e1 ;
}