:root {
    --default-space: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container {
    box-sizing: border-box;
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin: auto;
    margin-top: 250px;
}

.container,
input {
    padding: 10px;
    display: flex;
}
h1 {
    text-align: center;
    padding-bottom: 20px;
}
input {
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: 0.7s;
}
input:focus {
    background-color: rgb(205, 236, 247);
}
input:hover {
    background-color: #dfe1e1;
}
label {
    font-size: 24px;
    text-align: center;
}
button {
    width: 100%;
    font-size: 18px;
    height: 2.5rem;
    border: 2px solid rgba(0, 0, 0, 0);
    margin-bottom: var(--default-space);
}
button:hover {
    background-color: #dfe1e1;
}
fieldset {
    margin-bottom: var(--default-space);
    border: none;
}
#result {
    font-size: larger;
    text-align: center;
}
